* {
    box-sizing: border-box;
}
cite {
    font-size: smaller;
}
p {
    text-align: left;
    word-wrap: inherit;

}
h1,
h2,h3 {
    font-weight: bold;
    color: gray;
}
dt {
    font-weight: bolder;

}
table {
    border-collapse: collapse;
}
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #ddd;

}
td {
    border: 1px solid #ddd;
    padding: 8px;

}
tr:nth-child(even) {
    background-color: #f0f0f0;
}
tr:hover {
    background-color: #ddd;
    ;

}
blockquote {
    width: 50rem;
    font-weight: bolder;
    text-align: center;
    color: goldenrod;
}
figcaption {
    font-style: italic;
    align-self: center;
}
footer {
    align-self: center;

}
.column {
    float: left;
    width: 50%;
    padding: 10px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}