body {
    font-family: var(--font-normal);
    padding: var(--m);
    color: var(--dark);
    line-height: var(--lh-normal);
}

p,
h1,
h2,
h3,
section,
dd {
    margin-bottom: var(--m);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--wichtig);
    color: var(--darker);
    margin-bottom: var(--l);
}

h1 {
    font-size: var(--xl);
    padding-bottom: var(--xxl);
    font-size: var(--xl);
}

h2 {
    font-size: var(--l);
    font-size: var(--fw-wichtig);
}

h3,
dt {
    font-size: var(--l);
}

main,
footer,
article {
    max-width: var(--normal);
    margin-bottom: var(--xl);
}

img {
    max-width: var(--voll);
}

blockquote {
    max-width: var(--weit);
    font-weight: bolder;
    color: var(--accenttext);
    font-style: italic;
}

figcaption {
    font-style: italic;
    align-self: center;
    font-size: var(--xs);
}

table {
    border-collapse: collapse;
    padding-bottom: var(--xxl);
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: var(--background);
}

td {
    border: 1px solid var(--background)
}

tr:nth-child(even) {
    background-color: var(--backnth);
}

cite {
    font-size: smaller;
    font-style: italic;
}

figure {
    max-width: 54rem;
    padding-bottom: var(--s);
}

dt {
    padding-bottom: var(--xs);
    color: var(--darker);
    max-width: var(--normal);
}

fieldset {
    padding-bottom: var(--s);
}

textarea {
    padding: var(--s)
}

header {
    max-width: var(--normal);
}

dl {
    padding-bottom: var(--s);
}

form {
    background-color: var(--background);
}

form input[type="text"],
form input[type="email"],
form textarea {
    font-size: var(--l);
    border: 1px solid gainsboro;
    color: teal;
    font-family: inherit;
    font-weight: var(--vw-normal);
    display: block;
}

p {
    max-width: var(--weit);
}

i {
    font-style: italic;
}